* {
    font-family: 'Courier New', Courier, monospace !important;
}

body {
    background-color: rgb(95, 168, 168);
}

div {
    width: 35%;
    margin: auto;
}

textarea {
    font-size: 16px;
    background-color: hsl(0, 0%, 73%);
    color: black;
}

p {
    text-align: center;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #008080;
    border: none;
    border-radius: 0px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #057070}

.button:active {
  background-color: #057070;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.slider {
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #057070;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #057070;
    cursor: pointer;
  }