<DOCTYPE!=html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Huffman Encoding</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  </head>

  <body>
    <div>
        <h1 style="text-align: center;">Huffman encoding!</h1>
        <p>
        <textarea rows="10" cols="55" placeholder="Message..." disabled></textarea>
        </p>
        <p>
        <button class="button"> Receive message </button>
        </p>
        <p>
            <input type="range" min="1" max="100" value="1" class="slider" id="errorSlider">
            <p>Error: <span id="errorP"></span>%</p>
        </p>
        <p>
        <button class="button"> Send reply </button>
        </p>
    </div>

    <script type="text/javascript">
        var slider = document.getElementById("errorSlider");
        document.getElementById("errorP").innerHTML = slider.value;

        slider.oninput = function() {
            document.getElementById("errorP").innerHTML = this.value; 
        }
    </script>
   
  </body>
</html>
